@import '../../mixin.scss';

.type-message {
    width: 40%;
    min-width: 50%;
}

.neighborhood {
    display: block;
    margin-bottom: 20px;
    font-size: 2.0em;
}

.label-type {
    display: block;

    text-align: center;
}