@import '../../mixin.scss';

.subcategory {
    display: block;
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: $light !important;
    
}

li:last-child {
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none !important;
}

.subcategory:hover {
    background-color: $red !important;
    border-radius: 10px;
    cursor: pointer;
}