.header {
    grid-area: header;

    background-color: rgb(31, 26, 23);
    box-shadow: 0 0 2px rgb(31, 26, 23);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
    "title user";
}

.title {
    grid-area: title;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    font-size: 2em;
}