@import "../../mixin.scss";

.zone {
  margin: 40px 0 20px 0;
  font-size: 1.8em;
}

.modal-neighborhood {
  display: block;

  padding: 10px 0 10px 0;
  text-align: center;
}

.modal-neighborhood:hover {
  cursor: pointer;
}
