@import '../../mixin.scss';

.user {
    grid-area: user;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    color: $light;
}

.user-name {
    display: block;
    font-size: 1.2em;
    height: 25px;
    padding-right: 20px;
    overflow: hidden;
}