@import '../../mixin.scss';

.app {
    display: grid;
    
    height: 100%;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;

    grid-template-areas: 
    "header header"
    "nav content";
}