$green : #4CD964;

$green_light: #26DEA8;

$red: #da251d;

$purple: #6F5A9A;

$purple_light: #8E2DE2;

$purple_dark: #3E3F68;

$blue: #5157bb;

$blue_dark: #2a2e6c;

$body: #f8f8f9;

$background: #1f1a17;

$light: #dededd;